$header-font: 'Playfair Display', serif;
$text-font: 'PT Sans', sans-serif;

$background: #000000;
$background-header-color: #0F0F0F;
$background-color-hover: #1F1F1F;


$header-color: #FFFFFF;
$text-color: #969696;