@import './styles/variables.scss';
@import './pages/Root.module.scss';
@import '../src/components/Footer/FooterComponent.module.scss';
@import '../src//components/Header/HeaderComponent.module.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $text-color;
  font-family: $text-font;
}