@import './styles/variables.scss';
@import './pages/Root.module.scss';
@import '../src/components/Footer/FooterComponent.module.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $text-color;
  font-family: $text-font;
}
/* 
.app {
  width: 1110px;
  margin: 0 auto;
} */